<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <title>Homepage</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'home/style.css' %}" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
        <div class="top">
                <a href="/">صفحه اصلی <i class="fa fa-fw fa-home"></i></a>
                {% if Loged == False %}
                <a href="/accounts/register">ثبت نام <i class="fa fa-fw fa-users"></i></a>
                <a href="/accounts/login">ورود <i class="fa fa-fw fa-user"></i></a>
                {% else %}
                <a href="/accounts/logout">خروج از حساب <i class="fa fa-fw fa-user"></i></a>
                <a href="/accounts/">حساب <i class="fa fa-user-circle-o"></i></a>
                {% endif %}
        </div>
        <div class="bgimg">      
            <div class="center">
                {% for Intro in Intros %}
                    <div class="introbox"> 
                    <h1><b>{{Intro.title}}</b></h1>
                    <p><b>{{Intro.content|safe}}</b></p>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="footer">
            <div style="float: right;">
                <p style="text-align: right;"><b>
                    <i class="fa fa-telegram" aria-hidden="true"></i>
                    ما را در <a href="https://t.me/msn_cactus">تلگرام</a> دنبال کنید<br>
                    xxx :آدرس<br>
                    xxx :تلفن<br>
                </b></p>
            </div>
            <div style="float: left;">
                <p style="text-align: left;"><b>
                Created by: Mohsen Nasiri<br>
                Email: nasirimohsen16@gmail.com<br>
                </b></p>
            </div>
        </div>
</body>

<!--
Created by: Msn_cactus
Instagram: msn_nasiri
Telegram: @msn_cactus
email:  mohsennasiri8@gmail.com
-->
</html>